<h3 class="header">It's a mystery!</h3>
<div class="about">
  <p>Who done the murdo? It's time we start to find those out. Is the murdoer here, maybe? Or... over there? I'm not sure either way. But it's about time to investigate! Welcome to our once in a lifetime murdo mystery blogosphere experience game site for kids. Let's find clues and get started {{#link-to 'index'}}here.{{/link-to}}</p>
</div>
