<div class="container">
  <div id="main-header">
    Murdo Mystery
  </div>
  <div class="panel panel-default">
    <div id="content">
      {{outlet}}
    </div>
  </div>
</div>

<footer class="col-xs-12">
  <hr>
  <ul>
    {{#link-to "index"}}
    <li>Home</li>
    {{/link-to}}
    {{#link-to "create-murdo"}}
    <li>Create a new murdo</li>
    {{/link-to}}
    {{#link-to "about"}}
    <li>About</li>
    {{/link-to}}
    {{#link-to "contact"}}
    <li>Contact</li>
    {{/link-to}}
  </ul>
</footer>
