<h3 class="header">Contact us</h3>
<h4 class="col-xs-12">Rupert Murdo</h4>
<div id="rupert-murdo">
  <ul>
    <li><strong>Phone:</strong> (666) 666-DONT</li>
    <li><strong>In Person:</strong> Yes.</li>
    <li><strong>Email:</strong> notsatan@livestrong.com</li>
    <li><strong>General Likes:</strong>
      <ul>
        <li>Not being a murdoer</li>
        <li>Certainly not murdoing</li>
        <li>Cats</li>
      </ul>
    </li>
  </ul>
</div>
